{% extends 'modular/module.html.twig' %}
{% set name = 'features' %}

{% set items = items|default(page.header.items) %}

{% block content %}
<div class="wrapper">
	
	<h2 class="text">{{ page.header.display_title }}</h2>

	<div class="grid text small">
		{% for item in items %}
		{% set image = item.image ? page.media[item.image] %}
		{% set image_alt = item.image_alt %}
		{% set title = item.title|raw %}
		{% set text = item.text|raw %}
		{% set label = item.cta_label|raw %}
		{% set url = item.cta_url|raw %}
		<div class="item">
			{% if image %}{{ image.html('', image_alt)|raw }}{% endif %}
			{% if title %}<h3>{{ title }}</h3>{% endif %}
			{% if text %}<p>{{ text }}</p>{% endif %}

			{% if label and url %}
			<a href="{{ url }}">{{ label }}</a>
			{% endif %}

		</div>
		{% endfor %}
	</div>

</div>
{% endblock %}
